<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <title>이메일 회원가입 링크</title>
        <style>
            a:visited { color: black; text-decoration: none; }
        </style>
    </head>
    <body>
        <div class="header" style="margin-top: 30px; margin-left: -10px;">
            <a href="https://waflog-web.kro.kr" style="color: black; text-decoration: none; text-align: center;">
                <h1>waflog</h1>
            </a>
        </div>
        <div class="body" style="margin-left: -10px;">
            <div class="explain" style="width: auto; height: 60px; border-radius: 7px; background-color: rgb(249, 249, 250); color: gray; font-size: 13px; border: 1px solid rgb(223,226,230);">
                <div style="margin-top: 13px; margin-left: 13px;">
                    <text style="font-weight: bold;">안녕하세요!</text>
                    <text>회원가입을 계속하시려면 하단의 링크를 클릭하세요. </text>
                </div>
                <div style="margin-left: 13px; margin-top: 2px;">
                    <text>만약에 실수로 요청하셨거나, 본인이 요청하지 않았다면, 이 메일을 무시하세요.</text>
                </div>
            </div>
            <a th:href="${link}" style="color: black; text-decoration: none;">
                <div class="go" style="width: auto; margin-top: 10px; height: 40px; border-radius: 7px; background-color: rgb(127, 96, 239); color: white; font-size: 15px; line-height: 40px; text-align: center;">
                    <text>계속하기</text>
                </div>
            </a>
        </div>
    </body>
</html>
